.content {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section {
  border: 5px saddlebrown solid;
  padding: 10px;
  height: 100%;
}

.preview {
  width: 50%;
  height: 50%;
}

.labelInputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
